---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";
import BlogPost from "@components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const orderedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  );

  const uniqueTags = [
    ...new Set(orderedPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = orderedPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main>
    <section>
      <div class="container">
        <p>Posts tagged with <em>{tag}</em></p>
        <ul>
          {
            posts.map((post) => (
              <BlogPost
                url={`/posts/${post.slug}/`}
                title={post.data.title}
                pubDate={post.data.pubDate}
                description={post.data.description}
              />
            ))
          }
        </ul>
      </div>
    </section>
  </main></BaseLayout
>
