---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";

const pageTitle: string = "About Me";

const identity = {
  firstName: "Astro",
  lastName: "Pico",
  country: "Web",
  occupation: "Astro Theme | Template",
  hobbies: ["coding", "stargazing", "building something"],
};
type TIdentity = typeof identity;

const skills: string[] = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Astro",
];
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
        <p>... a Minimal Astro Theme!</p>
      </hgroup>
    </section>
    <section>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>
          My name is <strong>{identity.firstName} {identity.lastName}</strong>
        </li>
        <li>
          I am from <em>{identity.country}</em> and I work as a <u
            >{identity.occupation}</u
          >
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Two of my hobbies are: <em>{identity.hobbies[0]}</em> and
              <em>{identity.hobbies[1]}</em>
            </li>
          )
        }
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </section>
  </main>
</BaseLayout>
