---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";
import BlogPost from "@components/BlogPost.astro";

const allPosts = await getCollection("posts");
const orderedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
const pageTitle: string = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
        <p>... thoughts about this theme.</p>
      </hgroup>
    </section>
    <section>
      <ul>
        {
          orderedPosts.map((post) => (
            <BlogPost
              url={`/posts/${post.slug}/`}
              title={post.data.title}
              pubDate={post.data.pubDate}
              description={post.data.description}
            />
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
