---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";
import Heading from "@components/Heading.astro";
import LatestPosts from "@components/LatestPosts.astro";
import Featured from "@components/Featured.astro";

const pageTitle: string = "AstroPico";

const introduction = {
  title: "Build with Astro, Shine with Pico",
  description:
    "The ultimate framework for creating stunning, high-performance blogs effortlessly. AstroPico merges the robust, modern architecture of Astro with the sleek, minimalist styling of PicoCSS, providing a seamless development experience that lets your content shine. Whether you're a novice or a seasoned developer, AstroPico empowers you to build responsive, lightning-fast, and visually captivating blogs with ease. Elevate your web development game and let your blog stand out with AstroPico.",
  cite: "cHATgpt 4O",
};
type TIntroduction = typeof introduction;

const introduction1: TIntroduction = {
  title: "Lightweight & Looks Great",
  description:
    "The perfect solution for creating stylish, high-performance blogs with minimal effort. AstroPico combines the powerful, component-based architecture of Astro with the elegant simplicity of PicoCSS, delivering a seamless and enjoyable development experience. Whether you're a seasoned developer or just starting, AstroPico enables you to build responsive, fast-loading, and visually appealing blogs effortlessly. Embrace the future of web development with AstroPico, where performance meets aesthetic excellence.",
  cite: "ChAtGpT Fo",
};

const introduction2: TIntroduction = {
  title: "Lightweight (or Right-way) for a Stylish but Lazy Astronaut",
  description:
    "The perfect blend of efficiency and style for modern web development. AstroPico leverages the powerful, flexible architecture of Astro and the minimalist elegance of PicoCSS, allowing you to create beautiful, high-performance blogs with minimal effort. Designed for developers who value simplicity and aesthetics, AstroPico ensures your blog not only loads quickly but also looks stunning. Embrace the smart, effortless way to build and style your blog with AstroPico, where even the laziest astronaut can achieve stellar results.",
  cite: "cHaTgPt fO",
};

const intros: TIntroduction[] = [introduction, introduction1, introduction2];

const randomIntro = intros[Math.floor(Math.random() * intros.length)];
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
        <p>... Astro styled with PicoCSS</p>
      </hgroup>
      <p>
        <u><a href="/about/" class="">AstroPico</a></u> is an Astro theme who likes
        simple implementation and good looking visual.
      </p>
      <details open>
        <summary><u>AstroPico</u>: {randomIntro.title}</summary>
        <blockquote>
          "{randomIntro.description}"
          <footer>
            <cite>- {randomIntro.cite}</cite>
          </footer>
        </blockquote>
      </details>
    </section>
    <hr />
    <!-- <section>
      <strong>
        <u>AstroPico</u>
        : {randomIntro.title}
      </strong>
      <blockquote>
        "{randomIntro.description}"
        <footer>
          <cite>- {randomIntro.cite}</cite>
        </footer>
      </blockquote>
    </section>
    <hr /> -->
    <section>
      <hgroup>
        <Heading
          title="Featured"
          heading="3"
          description="... some of finest"
        />
      </hgroup>
      <Featured />
    </section>
    <hr />
    <section>
      <hgroup>
        <Heading
          title="Latest posts"
          heading="3"
          description="... some of latest"
        />
      </hgroup>
      <LatestPosts />
    </section>
    <hr />
    <section>
      <Heading title="Recent projects" heading="3" description="" />
      <p>
        <small>
          For my featured projects, please visit my
          <a href="https://www.github.com/san-ghun">Github</a>
        </small>
      </p>
    </section>
    <hr />
    <section>
      <Heading title="Work experience" heading="3" description="" />
    </section>
    <hr />
  </main>
</BaseLayout>
