---
interface Props {
  url: string;
  title: string;
  pubDate: Date;
  description: string;
}

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const { url, title, pubDate, description } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
  <small>
    {months[pubDate.getMonth() - 1]}
    {pubDate.getDate()}, {pubDate.getFullYear()}
  </small>
  <p><i>{description}</i></p>
</li>
