---
interface Props {
  url: string | undefined;
  title: string;
  pubDate: string;
  description: string;
  keywords: string[];
  thumbnail: string;
}

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const { url, title, pubDate, description, keywords, thumbnail } = Astro.props;
const processedDate = new Date(pubDate);
---

<li>
  <!-- <img src={thumbnail} alt=`${title} thumbnail` /> -->
  <a href={url}>{title}</a>
  <small>
    {months[processedDate.getMonth() - 1]}
    {processedDate.getDate()}, {processedDate.getFullYear()}
  </small>
  <p>
    <i>{description}</i>
    <br />
    <span><small><b>keys:</b></small></span>
    {
      keywords.map((key) => (
        <span class="key">
          <small>{key} / </small>
        </span>
      ))
    }
  </p>
</li>
