---
interface Props {
  purpose: string;
  label: string;
  id: string;
  name: string;
  checked: string;
}

const { purpose, label, id, name, checked } = Astro.props;
---

<label for={purpose}>
  {
    checked === "true" ? (
      <input type="checkbox" id={id} name={name} role="switch" checked />
    ) : (
      <input type="checkbox" id={id} name={name} role="switch" />
    )
  }
  {label}
</label>
