---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main>
    <section>
      <div class="container">
        <hgroup>
          <h1>{frontmatter.title}</h1>
          <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
          <p>Written by: <a href="/about/">{frontmatter.author}</a></p>
          <p>
            <em>{frontmatter.description}</em>
          </p>
        </hgroup>
      </div>
      <div class="container">
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
        <!-- <div class="tags">
            {
                frontmatter.tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
                ))
            }
        </div> -->
      </div>
    </section>
    <section>
      <div class="container">
        <slot />
      </div>
    </section>
  </main>
</BaseLayout>
